@using CarDealerApp.Models.ViewModels;
@model EditSupplierViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Info about <b><i>@Model.Name</i></b></h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(vm => vm.Name)
    @Html.EditorFor(vm => vm.Name, new { htmlAttributes = new { @class = "form-control"}})

    @Html.LabelFor(vm => vm.IsImporter)
    @Html.EditorFor(vm => vm.IsImporter)

    @Html.HiddenFor(vm => vm.Id)
    <br />
    <input type="submit" value="Edit" class="btn btn-success" />
    @Html.ActionLink("Cancel", "Index", "Suppliers", new { type = "all" }, new { @class = "btn btn-default" })
}