@model IEnumerable<CarDealerApp.Models.ViewModels.SupplierViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h2>List of Our Suppliers</h2>

@Html.ActionLink("Add New Supplier", "Add", "Suppliers", null, new { @class = "btn btn-success"})
<br />
<br />
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Importer
        </th>
        <th>
            Number of Parts
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Importer
            </td>
            <td>
                @item.NumberOfParts
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Suppliers", new { id = item.Id }, null) | 
                @Html.ActionLink("Delete", "Delete", "Suppliers", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>