@model CameraBazaar.App.Models.ViewModels.EditProfileViewModel
@{
    ViewBag.Title = "Edit";
}

<style>
    #container {
        text-align: center;
    }

    select, input, textarea {
        display: inline !important;
        margin: 0 0 5px 5px;
    }

    label {
        width: 150px;
        text-align: right;
    }    
    #errors>span {
        display: block;
    }
</style>

<div id="container">
    <h2>Edit Profile</h2>
    @using (Html.BeginForm())
    {
        <div id="errors">
            @Html.ValidationMessage("InvalidOldPassword", null, new { @class = "text-danger" })
            @Html.ValidationMessage("SamePasswords", null, new { @class = "text-danger" })
        </div>

        @Html.LabelFor(vm => vm.Email)
        @Html.EditorFor(vm => vm.Email, new { htmlAttributes = new { @class = "form-control" } })
        <br/>
        @Html.LabelFor(vm => vm.NewPassword)
        @Html.PasswordFor(vm => vm.NewPassword, new { @class = "form-control" })
        <br />
        @Html.LabelFor(vm => vm.Phone)
        @Html.EditorFor(vm => vm.Phone, new { htmlAttributes = new { @class = "form-control" } })
        <br />
        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control" />
        @Html.HiddenFor(vm => vm.Id)
        <br />
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn", style = "background-color: gray; color:white" })
        <input type="submit" value="Edit" class="btn btn-primary"/>
        <div id="errors">
            @Html.ValidationMessageFor(vm => vm.Email, null, new { @class = "text-danger" })
            @Html.ValidationMessageFor(vm => vm.NewPassword, null, new { @class = "text-danger" })
            @Html.ValidationMessageFor(vm => vm.Phone, null, new { @class = "text-danger" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}