@using CarDealer.Models;
@model IEnumerable<Sale>

@{
    ViewBag.Title = "Discounted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Discounted Sales</h2>

<table class="table">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Customer</th>
            <th>Discount %</th>
            <th>Details</th>
        </tr>
    </thead>
    @{
        foreach (var sale in Model)
        {
            <tr>
                <td>@sale.Car.Make</td>
                <td>@sale.Car.Model</td>
                <td>@sale.Customer.Name</td>
                <td>@sale.Discount</td>
                <td>@Html.ActionLink("Details", "Details", new { id = sale.Id })</td>
            </tr>
        }
    }
</table>