@using System.Collections.Generic;
@model CarDealerApp.Models.ViewModels.AddSaleViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Sale</h2>
<form method="post" class="form-group">
    <label for="customer">Customer:</label>
    <select name="customer" id="customer" class="form-control">
        @{
            foreach (var customer in Model.Customers)
            {
                <option value="@customer.Id">@customer.Name</option>
            }
        }
    </select>
    <br/>
    <label for="car">Car:</label>
    <select name="car" id="car" class="form-control">
        @{
            foreach (var car in Model.Cars)
            {
                <option value="@car.Id">@car.Name</option>
            }
        }
    </select>
    <br/>
    <label for="discount">Discount:</label>
    <select name="discount" id="discount" class="form-control">
        @{
            for (int i = 0; i <= 60; i += 5)
            {
                <option value="@i">@i%</option>
            }
        }
    </select>
    <br />
    <input type="submit" class="btn btn-success" value="Review"/>
</form>
