@model CarDealerApp.Models.ViewModels.ReviewSaleViewModel

@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review Sale</h2>

<style>
    label {
        width: 110px;
        text-align: right;
    }
    input {
        text-align: center;
        margin: 5px;
        display: inline !important;
    }
    a:hover {
        background-color: red;
    }
</style>

<form method="post" class="form-group">
    <label for="customer">Customer:</label>
    <input type="hidden" value="@Model.CustomerId" name="customerid"/>
    <input type="text" class="form-control" id="customer" value="@Model.CustomerName" readonly="readonly" />
    <br />
    <label for="car">Car:</label>
    <input type="hidden" value="@Model.CarId"  name="carId"/>
    <input type="text" id="car" class="form-control" value="@Model.CarName" readonly="readonly"/>
    <br />
    <label for="discount">Discount:</label>
    <input type="hidden" value="@Model.FinalDiscountPercent" name="discount"/>
    <input type="text" id="discount" class="form-control" value="@Model.DiscountPercent" readonly="readonly" />
    <br />
    <label for="price">Price:</label>
    <input type="text" id="price" class="form-control" value="@($"{Model.Price:0.##}")" readonly="readonly"/>
    <br />
    <label for="finalPrice">Final Car Price:</label>
    <input type="text" id="finalPrice" class="form-control" value="@($"{Model.FinalPrice:0.##}") " readonly="readonly"/>
    <br />
    <a href="/Sales/Add" class="btn" style="border-radius: 5px; border: 2px solid red">Cancel</a>
    <input type="submit" class="btn btn-primary" value="Finalize" />
</form>